## Visual Studio & .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
.vscode/
TestResults/
*.dlog

## Windows App SDK / WinUI
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt

## OS Generated
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
